body{
    font-family: 'Lato', sans-serif;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #14213D, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #14213D, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#wrapper{
    text-align:center;
    display:block;
}
    #inner-wrapper{
        width:320px;
        margin:100px auto;
        border:2px solid #FCA311;
        background-color:#000;
        padding:5px 0;
    }
     .full-width{
         text-align:center;
     }
#display-wrapper{
    font-size:24px;
    border-top:4px #E5E5E5 solid;
    border-bottom:4px #E5E5E5 solid;
    padding:4px 10px;
    background-color:#E5E5E5;
    width:285px;
    margin:4px auto;
    height:90px;
    color: #14213D;
    overflow:hidden;
    border-radius:2px;
}
    #display, #history{
        height:30px;
        list-style:none;
        display:block;
        margin:0;
        padding:0;
    }
        #display li{
            margin:0;
            padding:0;
            display:inline-block;
            list-style:none;
        }
/* buttons */
input{
    box-shadow:none;
    border: 1px solid #fff;
    background-color:#E5E5E5;
    color:#000;
    font-size:16px;
    margin:2px 0;
    padding:20px 0;
    display:inline-block;
    border-radius:2px;
    transition:0.5s;
}
    input:hover{
        color:#FCA311;
        border-color:#000;
        background-color:#14213D;
    }
.quarter{
    width:74px;
}
.half{
    width:151px;
}
.digit{

}
.function{

}
.result{

}