#wrapper{
    text-align:center;
    display:block;
}
    #inner-wrapper{
        width:320px;
        margin:10px auto;
    }
     .full-width{
         text-align:center;
     }
#display-wrapper{
    padding:4px 4px;
    background-color:grey;
    width:303px;
    margin:4px auto;
    height:50px;
    color:#fff;
}
    #display, #history{
        height:20px;
        list-style:none;
        display:block;
        margin:0;
        padding:0;
    }
        #display li{
            margin:0;
            padding:0;
            display:inline-block;
            list-style:none;
        }
/* buttons */
.small{
    width:74px;
    display:inline-block;
    margin:4px 0;
    padding:4px 0;
}
.medium{
    width:100px;
    display:inline-block;
    margin:4px 0;
    padding:4px 0;
}
