#wrapper{
    text-align:center;
    display:block;
    width:100%;
}
    #inner-wrapper{
        width:320px;
        margin:10px auto;
    }
     .full-width{
         text-align:center;
     }
#display{
    padding:4px 4px;
    background-color:grey;
    width:97.5%;
    margin:4px auto;
    height:50px;
    color:#fff;
}
/* buttons */
.small{
    width:24%;
    display:inline-block;
    margin:4px 0;
    padding:4px 0;
}
.medium{
    width:32.3%;
    display:inline-block;
    margin:4px 0;
    padding:4px 0;
}
.large{
    width:66%;
    display:inline-block;
    margin:4px 0;
    padding:4px 0;
}